title = "Blazebot TOML Config"

[project]
name = "Blazebot"
description = "Apostas automáticas na plataforma blaze.com"
version = "0.0.1-trial"  # "0.0.1-trial"
author = "Cleiton Leonel Creton"

[authentication]
email = "test123@gmail.com"
password = "test123"

[bets]
# valor da entrada
amount = 2.00
# quantidade de martingale
martingale = 2
# limite de perdas
stop_loss = 3
# limite de ganhos
stop_gain = 5
# seguir tendência
against_trend = 0  # 0 para não seguir a tendência ou 1 para seguir a tendência
# tipo de aposta
bet_type = "demo"  # demo ou real
# bet_type = "real"  # demo ou real
# define o tipo de arquivo para os relatórios
report_type = "excel"  # excel, csv ou json
# define o tempo de inatividade do bot após atingir um stop_loss ou stop_win
sleep_bot = 60  # 1 hora em segundos


[strategies]
  #Por padrão a estratégia de usuário está desabilitada,
  #Para habilitar mude o status para enable.
  status = "disable"  # "enable" # disable

  [strategies.basic]
    #Estratégia básica:
    #Deve-se definir aqui a quantidade de cores
    #repetidas em sequência que deseja analisar e a cor
    #que se espera.
    #EXEMPLOS:
    #red = [preto, preto, preto] onde o vermelho espera uma determinada sequência
    #black = [vermelho, vermelho, vermelho] onde o preto espera uma determinada sequência
    status = "disable"  # "enable" # disable

    result = [
      { list = [
          { "red" = ["preto", "preto", "preto"]},
          { "red" = ["vermelho", "preto", "preto"]},
          { "black" = ["preto", "vermelho", "vermelho"]},
          { "black" = ["vermelho", "vermelho", "vermelho"]},
          { "red" = ["preto", "preto", "vermelho"]},
          { "black" = ["vermelho", "vermelho", "preto"]},
          { "red" = ["vermelho", "vermelho", "preto", "preto"]},
          { "black" = ["preto", "preto", "vermelho", "vermelho"]},
          { "red" = ["preto", "vermelho", "preto"]},
          { "black" = ["vermelho", "preto", "vermelho"]},
          { "white" = ["vermelho", "vermelho", "branco", "vermelho"]},
          { "white" = ["preto", "preto", "branco", "preto"]}
      ]},
    ]

  [strategies.sequencies]
    status = "disable"  # "enable" # disable

    [strategies.sequencies.simple]
      #Estratégia de sequência simples:
      #Deve-se definir aqui a quantidade de cores
      #repetidas em sequência que deseja analisar.
      #EXEMPLOS:
      #[preto, preto, preto, ...] = vermelho
      #[vermelho, vermelho, vermelho, ...] = preto
      status = "disable"  # "enable" # disable
      black = 3
      red = 3
      white = 1

    [strategies.sequencies.alternate]
      #Estratégia de sequência alternada:
      #Deve-se definir aqui a quantidade de cores repetidas
      #alternadamente que deseja analisar.
      #EXEMPLOS:
      #[preto, vermelho, ...] = preto
      #[vermelho, preto, ...] = vermelho
      #[vermelho, vermelho, preto, preto, ...] = [vermelho, vermelho]
      status = "disable"  # "enable" # disable
      black = 1
      red = 1
      white = 1

    [strategies.sequencies.repeat]
      #Limite de vezes que uma cor pode se repetir
      #numa sequência contínua até que a sequência
      #seja quebrada por uma cor oposta, analisando
      #a tendência e apostando em uma cor oposta ou
      #mesmo no branco.
      #EXEMPLO:
      #[vermelho, vermelho, vermelho, vermelho, ...]
      #Sequência acima de 6 cores espera-se que venha 1 branco nas
      #próximas 2 rodadas, caso não venha dobrar a aposta no preto
      limit = 7

  [strategies.advanced]
    status = "disable"  # "enable" # disable

    [strategies.advanced.protection]
      #Aplica uma estratégia de proteção a entrada corrente,
      #mantendo o valor da primeira entrada, se der loss
      #será aplicado martingale com base na primeira entrada.
      hand = "reverse"  # "reverse" # "same"